
html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#FFF8F0;
}

nav{
    background:#3E2723;
    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav ul{
    list-style:none;

    display:flex;

    gap:30px;
}

nav a{
    color:white;

    text-decoration:none;

    font-size:18px;

    transition:.3s;
}

nav a:hover{
    color:#FFD54F;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    background:#FFF8F0;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:55px;
    color:#3E2723;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    color:#555;
    margin-bottom:30px;
}

.hero-image{
    width:45%;
}

.hero-image img{
    width:100%;
    border-radius:20px;
}

.btn{
    display:inline-block;
    background:#6F4E37;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    margin-right:15px;
    transition:0.3s;
}

.btn:hover{
    background:#A0522D;
}

.btn2{
    background:#D2B48C;
    color:#3E2723;
}

.btn2:hover{
    background:#C19A6B;
}

/* Features Section */

.features{
    text-align:center;
    padding:80px 50px;
    background:#f8f4ef;
}

.features h2{
    font-size:40px;
    color:#3E2723;
    margin-bottom:50px;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.feature-box{
    background:white;
    width:300px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s;
}

.feature-box:hover{
    transform:translateY(-10px);
}

.feature-box h3{
    color:#6F4E37;
    margin-bottom:15px;
}

.feature-box p{
    color:#555;
    line-height:1.6;
}

/* Coffee Menu */

.menu{
    padding:80px 50px;
    background:#FFF8F0;
    text-align:center;
}

.menu h2{
    font-size:40px;
    color:#3E2723;
    margin-bottom:50px;
}

.menu-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.coffee-card{
    width:300px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transition:0.3s;
}

.coffee-card:hover{
    transform:translateY(-10px);
}

.coffee-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.coffee-card h3{
    margin-top:20px;
    color:#3E2723;
}

.coffee-card p{
    padding:15px;
    color:#666;
}

.coffee-card h4{
    color:#6F4E37;
    margin-bottom:20px;
}

/* Reviews */

.reviews{
    padding:80px 50px;
    background:#f8f4ef;
    text-align:center;
}

.reviews h2{
    font-size:40px;
    color:#3E2723;
    margin-bottom:50px;
}

.review-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.review-card{
    width:300px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transition:0.3s;
}

.review-card:hover{
    transform:translateY(-10px);
}

.review-card h3{
    color:#FFD700;
    font-size:25px;
}

.review-card p{
    color:#555;
    margin:20px 0;
    line-height:1.6;
}

.review-card h4{
    color:#6F4E37;
}

/* Contact */

.contact{
    background:#FFF8F0;
    padding:80px 50px;
    text-align:center;
}

.contact h2{
    font-size:40px;
    color:#3E2723;
    margin-bottom:50px;
}

.contact-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.contact-box{
    width:250px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s;
}

.contact-box:hover{
    transform:translateY(-8px);
}

.contact-box h3{
    color:#6F4E37;
    margin-bottom:15px;
}

.contact-box p{
    color:#555;
}

/* Footer */

footer{
    background:#3E2723;
    color:white;
    text-align:center;
    padding:40px 20px;
}

footer h3{
    margin-bottom:10px;
}

footer p{
    margin:10px 0;
}